body{
    padding: 0px;
    margin: 0px;
    background-image: url(imgcss/hinh-nen-cho-powerpoint-cay-va-la_092716898.jpg);
    background-position: center center;
    background-size: 100%;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.container > header{
    background-image: url(imgcss/vdmhlogo.jpg);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
}
.container > nav{
    width: 100%;
    height: 50px;
    background-color: lavender;
}
.container > nav {
    color: palevioletred;
    text-align: center;
    font-variant:small-caps;
    line-height: 50px;
} 
.container > nav > a{
    color:palevioletred;
    text-decoration:none;
    margin:0 10px;
} 
.container > nav > a:hover{
    color: yellowgreen;
    text-decoration: underline;
}
.container > article{
    min-height:400px;
    width:67%;
    background-color:papayawhip;
    float:left;
} 
.container > aside{
    min-height:400px;
    width:33%;
    background-color:wheat;
    float:right;
    color: blue;
    
} 
.container > footer{
    border-top:5px double orangered;
    line-height:50px;
    background-color:lightcyan;
    text-align:center;
    font-variant:small-caps;
    clear:both;
} 
.container > aside > ul > li >a{
    color: blue;
    text-decoration: none;
    margin: 0 10px;
}
.container > aside > ul > li > a:hover{
    color: seagreen;
    text-decoration: underline;
}
.container > article > .col-25{
    width:50%;
    float:left;
    left: -200px;
}
.container > article > .col-25:hover{
    box-shadow:0 0 20px 20px peru ;
    background-color:aqua;
}
.prod{
    border-radius:10px;
    box-shadow:0 0 5px gray;
    margin:5px;
    padding:5px;
    text-align:center;
    position:relative;
}
.prod>.name>a{
    font-variant:small-caps;
    color:orangered;
}
.prod>.image{
    max-width:98%;
    height:150px;
    margin-bottom:10px;
}
.prod>.icons{
    position:absolute;
    right:25px;
    bottom:5px;
    width:5px;
}
.prod>.new-icon{
    width: 25px;
    position:absolute;
    top:0px;
    right:0px;
}
